html {
  color: #777777;
  font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
}
header {
  font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: white;
  margin-bottom: 20px;
}

header h1 {
  display: inline-block;
  background-color: #4aaaa5;
  color: white;
  padding: 15px 15px 15px 15px;
  margin: 0;
}

nav {
  display: inline;
  float: right;
  padding: 30px 100px 10px 0;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  padding-right: 8px;
  padding-left: 7px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #777777;
}

aside {
  float: right;
  width: 240px;
  background-color: white;
  display: inline;
  padding: 10px 10px 10px 10px;
}

body{
    background-image: url("../images/background-image.png");
    background-size: cover;
    margin: 0;
}

h2 {
  color: #4aaaa5;
  margin-top: 0;
}
.vertical-line {
  border-right:1px solid #777777;
}
.about {
  padding: 10px 10px 10px 10px;
  width: 650px;
  float: left;
  background-color: white;
}
.page{
  margin: 0 200px 0 200px;
  width: 960px;
}

.connect-img {
  height: 70px;
  width: 70px;
}
#line-separator {
  margin-bottom: 19.92px;
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

#profile {
  height: 300px;
  width:auto;
  float:left;
  padding-right: 10px;
}
